*{margin: 0;padding: 0;}
.top-nav{
	height:20px ;
	border: solid 1px red;
}
.head-logo{
	height:200px ;
	border: solid 1px red;
}
.head-logo-a{
	height: 100px;
	width: 140px ;
}
.head-logo-b{
	height: 100px;
	width: 304px ;
}
.focus-banner{
	height: 392px;
	border: solid 1px red;
	padding-top:30px;
	padding-bottom:20px ;
	position: relative;
	margin-bottom:10px ;
}
.focus-banner-con{
	width: 1146px ;
	height: 412px;
	margin: 0 auto;
	border: 1px solid red;
	position: relative;
	bottom: 20px;
	
}
.operation-warp{
	height: 814px;
	border: 1px solid red;
	
}
.operation-w{
	width: 1170px;
	height: 814px;
	margin: 0 auto;
	border: 1px solid red;
}
.operation-a{
	width: 1170px;
	height: 170px;
}
